# Hand-maintained during early development.
import(Matrix)
importFrom(INLA, inla, inla.rgeneric.define, inla.spde2.matern)
importFrom(methods, as)
importFrom(stats, dnorm, optimize, runif, spline)
export(ngvb)
export(ng.check)
S3method(print, ngvb.check)
S3method(print, ngvb)
S3method(summary, ngvb)
S3method(plot, ngvb)
S3method(fitted, ngvb)
importFrom(graphics, matplot)
export(ngvb_operator)
export(ngvb_rgeneric)
export(ngvb_precision)
importFrom(stats, setNames)
